{% extends 'tickets/base.html' %}

{% block content %}

<hr>
<strong>Ticket #</strong>{{ticket.id}}
<hr>

<a class="btn btn-info" href="{% url 'ticket_update' ticket.id %}" ticket.id>Edit</a>   <a class="btn btn-danger" href="{% url 'ticket_delete' ticket.id %}">Delete</a>

<br>
<strong>Ticket #:</strong> {{ticket.id}}
<br>

<strong>Subject:</strong> {{ticket.subject}}
<br>
<strong>Ticket created at:</strong> {{ticket.date}}
<br>
<strong>Due time:</strong> {{ticket.start_date}} to {{ticket.end_date}}
<br>
<strong>Description:</strong> 
<br>
{{ticket.description}}



{% endblock content %}